* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;

  font-family: "Inter", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  border-radius: 1rem;

  text-align: center;

  padding: 2rem;
}

.image-jessica {
  width: 6rem;
  border-radius: 50%;

  margin-bottom: 1rem;
}

.name {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.address {
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.about {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.links {
  width: 100%;
}

.link {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.8rem 6rem;
  cursor: pointer;
}

.link:not(:last-child) {
  margin: 1rem 0rem;
}

.link:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

@media only screen and (max-width: 450px) {
  body {
    margin: 5rem 1rem;
  }

  .link {
    padding: 0.8rem 3rem;
  }
}
